/* Ini File CSS */

.form-group {
    display: flex;
    flex-direction: column;
}

#result-bmi {
    font-size: xxx-large;
    font-family: math;
}


button {
    border-width: thin;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;

}

button[type="button"] {
    background-color: #074799;
    color: white;
}

button[type="reset"] {
    background-color: white;
    color: black;
    margin-left: 10px;
}

button[type="reset"]:hover {
    background-color: darkgray;
    color: black;
    margin-left: 10px;
}

button[type="button"]:hover {
    background: #344cb7;
    color: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.judulawal {
    text-align: center;
    background-color: #000957;
    padding: 20px;
    color: white
}

.introduction {
    margin: 10px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    max-width: 700px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

}

.subjudul {
    max-width: 700px;
    background-color: #000957;
    border-radius: 10px;
    color: white;
    padding: 20px;
    margin: 10px auto;

}

.feature {
    margin: 10px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    max-width: 700px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      
}

.form {
    margin: 10px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    max-width: 700px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
 
}

.form-group {
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.form-grup {
    padding-bottom: 15px;
}

input {
    padding: 8px;
    border-radius: 4px;
}

label {
    margin-bottom: 5px;
}

footer {
    background-color: #000957;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}